.search-results__button {
  min-height: 56px;
  min-width: 18rem;
  background-color: white;
  border: none;
  border-radius: 80px;
  font-family: var(--roboto);
  font-size: 1.125rem;
  line-height: 1.3em;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .search-results__button {
    min-width: 240px;
    max-width: 240px;
    align-self: center;
    margin-top: 32px;
    font-weight: 500;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .search-results__button {
    margin-top: 0;
    margin-bottom: 80px;
    min-height: 64px;
    min-width: 288px;
  }

  .search-results__button:hover {
    background-color: #E5E5E5;
    opacity: 0.9;
  }
}
