@import url('../__links/popup__links.css');
@import url('../__button/popup__button.css');

.popup__background {
  position: relative;
  max-height: 286px;
  background: rgba(26, 27, 34, 1);
  opacity: 1;
  z-index: 53;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding-top: 56px;
}
