<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsExplorer | Сохранённые статьи</title>
  <link rel="shortcut icon" href="<%= require('../images/favicon.png') %>" type="image/png">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>
<body>
  <div class="root">
    <main class="main">
      <header class="header header_type_popup-closed slim-block">
        <a href="./index.html" class="header__logo header__logo_color_black">NewsExplorer</a>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__main-page">
              <a href="index.html" class="header__link header__link_color_black">Главная</a>
            </li>
            <li class="header__saved-page header__saved-page_active header__saved-page_color_black">
              <a href="./articles.html" class="header__link header__link_color_black">Сохраненные статьи</a>
            </li>
            <li class="header__auth">
              <button class="header__button header__button_type_logout button header__button_active header__button_color_black">
                <span class="header__auth-name"></span>
                <img src="<%= require('../images/logout.svg') %>" alt="logout icon" class="header__logout-icon">
              </button>
            </li>
          </ul>
        </nav>
        <button class="header__mobile-menu header__mobile-menu_type_closed header__mobile-menu_color_black"></button>
      </header>
      <section class="articles-info slim-block">
        <p class="articles-info__place">Сохранённые статьи</p>
        <h1 class="articles-info__title"><span class="articles-info__name"></span><span class="articles-info__number"></span></h1>
        <p class="articles-info__keywords">По ключевым словам:
          <span class="articles-info__keywords_weight_bold"></span>,
          <span class="articles-info__keywords_weight_bold"></span> и
          <span class="articles-info__keywords_weight_bold">2-м другим</span>
        </p>
      </section>
      <section class="search-results slim-block">
        <div class="search-results__articles"></div>
      </section>
    </main>
    <footer class="footer slim-block">
      <section class="footer__links">
        <div class="footer__page-links">
          <a href="../index.html" class="footer__page-link">Главная</a>
          <a href="https://praktikum.yandex.ru/" target="_blank" class="footer__page-link">Яндекс.Практикум</a>
        </div>
        <div class="footer__social-links">
          <a href="https://github.com/artvezhl" target="_blank" class="footer__social-link">
            <img src="<%= require('../images/github.svg') %>" alt="Иконка Github" class="footer__github-link">
          </a>
          <a href="https://www.facebook.com/artemiy.vezhlivtsev" target="_blank" class="footer__social-link">
            <img src="<%= require('../images/facebook.svg') %>" alt="Иконка Facebook" class="footer__facebook-link">
          </a>
        </div>
      </section>
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
    </footer>
<!--    <section class="popup">-->
<!--      <div class="popup__background slim-block">-->
<!--        <header class="header header_type_popup-closed">-->
<!--          <a href="index.html" class="header__logo">NewsExplorer</a>-->
<!--          <button class="popup__mobile-menu header__mobile-menu_type_opened"></button>-->
<!--        </header>-->
<!--        <div class="popup__links">-->
<!--          <a href="index.html" class="popup__link">Главная</a>-->
<!--          <a href="articles.html" class="popup__link">Сохранённые статьи</a>-->
<!--        </div>-->
<!--        <button class="popup__button button">Авторизоваться</button>-->
<!--      </div>-->
<!--    </section>-->
    <template id="article" style="display: none;">
      <article class="search-results__article article">
        <div class="article__appear-block">
          <p class="article__appear-phrase"></p>
        </div>
        <button class="article__remove-button"></button>
        <img src="<%= require('../images/article-image.jpg') %>" alt="Изображение к статье" class="article__image">
        <p class="article__date">2 августа, 2019</p>
        <h3 class="article__title">Национальное достояние – парки</h3>
        <p class="article__subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складываться система национальных парков...</p>
        <p class="article__source">Лента.ру</p>
        <div class="article__keywords">
          <p class="article__keyword">Природа</p>
        </div>
      </article>
    </template>
  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
