@import url('../__page-links/footer__page-links.css');
@import url('../__social-links/footer__social-links.css');

.footer__links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.45rem;
}
