.footer__copyright {
  font-family: var(--roboto);
  font-weight: normal;
  font-size: 1rem;
  color: #B6BCBF;
  line-height: .375em;
  padding-bottom: .375rem;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: .25rem;
  }
}
