@import url('../__link/popup-mobile__link.css');
@import url('../__link/_visible/popup-mobile__link_visible.css');

.popup-mobile__links {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
