@import url('./__title/search-results__title.css');
@import url('./__articles/search-results__articles.css');
@import url('./__button/search-results__button.css');

.search-results {
  background-color: #F5F6F7;
  margin-top: -2.25rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
