@import url('./__image/article__image.css');
@import url('./__date/article__date.css');
@import url('./__title/article__title.css');
@import url('./__subtitle/article__subtitle.css');
@import url('./__source/article__source.css');
@import url('./__like-button/article__like-button.css');
@import url('./__remove-button/article__remove-button.css');
@import url('./__keywords/article__keywords.css');
@import url('./__keyword/article__keyword.css');

.article {
  position: relative;
  max-width: 18rem;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .article {
    max-width: 224px;
    max-height: 420px;
  }
}
