.cover__image {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .cover__image {
    object-fit: cover;
    width: 100%;
    min-height: 576px;
  }
}

@media screen and (min-width: 768px) {
  .cover__image {
    max-height: 400px;
  }
}

@media screen and (min-width: 320px) {
  .cover__image {
    max-height: 536px;
  }
}
