.cover__title {
  font-family: var(--roboto-slab);
  font-size: 2.25em;
  line-height: 1.1em;
  font-weight: 400;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .cover__title {
    max-width: 385px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__title {
    max-width: 608px;
    font-size: 60px;
    line-height: 64px;
  }
}
