.popup-auth__title {
  padding-top: 16px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .popup-auth__title {
    padding-top: 32px;
    margin-bottom: 24px;
  }
}
