@import url('../__reg-link/popup__reg-link.css');
@import url('../__reg-link/_place/_success-popup/popup__reg-link_place_success-popup.css');

.popup__subtitle {
  text-align: center;
  font-family: var(--inter);
  font-size: 14px;
  line-height: 17px;
}


