.article__source {
  font-family: var(--roboto-slab);
  font-size: 1rem;
  line-height: 1.25em;
  color: #B6BCBF;
  text-transform: uppercase;
  font-weight: bold;
  /*margin: .5rem 0 1rem;*/
  margin-top: auto;
  padding: 0 1rem;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .article__source {
    padding: 0 1.5rem;
    cursor: pointer;
  }
}
