.article__appear-block {
  display: none;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  position: absolute;
  top: 1.5rem;
  right: 4.5rem;
  background-color: white;
  justify-content: center;
  margin-left: 24px;
}

@media screen and (min-width: 1024px) {
  .article__appear-block {
  }
}
