<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NewsExplorer</title>
  <link rel="shortcut icon" href="<%= require('./images/favicon.png') %>" type="image/png">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.css %>">
</head>
<body>
  <div class="root">
    <main class="main">
      <header class="header slim-block">
        <a href="./index.html" class="header__logo">NewsExplorer</a>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__main-page header__main-page_active"><a href="index.html" class="header__link">Главная</a></li>
            <li class="header__saved-page"><a href="index.html" class="header__link">Сохраненные статьи</a></li>
            <li class="header__auth">
              <button class="header__button button header__button_type_login header__button_active">Авторизоваться</button>
              <button class="header__button header__button_type_logout button">
                <span class="header__auth-name">Грета</span>
                <img src="<%= require('./images/logout-white.svg') %>" alt="logout icon" class="header__logout-icon">
              </button>
            </li>
          </ul>
        </nav>
        <button class="header__mobile-menu header__mobile-menu_type_closed"></button>
      </header>
      <section class="cover">
        <picture class="cover__background">
          <source media="(min-width: 1024px)" srcset="<%= require('./images/background.png') %>">
          <source media="(min-width: 768px)" srcset="<%= require('./images/background-mid.png') %>">
          <img class="cover__image" src="<%= require('./images/background-mini.png') %>" alt="заставка мобильного телефона в руке">
        </picture>
        <div class="cover__main-block slim-block">
          <h1 class="cover__title">Что творится в мире?</h1>
          <p class="cover__subtitle">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.</p>
        </div>
        <div class="cover__search-block">
          <input type="text" class="cover__input" required placeholder="Введите тему новости">
          <input type="submit" class="cover__button button" value="Искать">
        </div>
      </section>
      <section class="search-results slim-block">
        <div class="search-results__ready">
          <h2 class="search-results__title">Результаты поиска</h2>
          <div class="search-results__articles">
            <article class="search-results__article article">
              <button class="article__like-button"></button>
              <img src="<%= require('./images/article-image.jpg') %>" alt="Изображение к статье" class="article__image">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние – парки</h3>
              <p class="article__subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
              <p class="article__source">Лента.ру</p>
            </article>
            <article class="search-results__article article">
              <button class="article__like-button"></button>
              <img src="<%= require('./images/article-image.jpg') %>" alt="Изображение к статье" class="article__image">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние – парки</h3>
              <p class="article__subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
              <p class="article__source">Лента.ру</p>
            </article>
            <article class="search-results__article article">
              <button class="article__like-button"></button>
              <img src="<%= require('./images/article-image.jpg') %>" alt="Изображение к статье" class="article__image">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние – парки</h3>
              <p class="article__subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
              <p class="article__source">Лента.ру</p>
            </article>
            <article class="search-results__article article">
              <button class="article__like-button"></button>
              <img src="<%= require('./images/article-image.jpg') %>" alt="Изображение к статье" class="article__image">
              <p class="article__date">2 августа, 2019</p>
              <h3 class="article__title">Национальное достояние – парки</h3>
              <p class="article__subtitle">В 2016 году Америка отмечала важный юбилей: сто лет назад здесь начала складыв...</p>
              <p class="article__source">Лента.ру</p>
            </article>
          </div>
          <button class="search-results__button">Показать еще</button>
        </div>
        <div class="search-results__searching">
          <div class="search-results__preloader circle-preloader"></div>
          <p class="search-results__loading">Идет поиск новостей...</p>
        </div>
        <div class="search-results__empty">
          <img src="<%= require('./images/not-found.svg') %>" alt="Ничего не найдено" class="search-results__empty-image">
          <h3 class="search-results__empty-title">Ничего не найдено</h3>
          <p class="search-results__empty-subtitle">К сожалению по вашему запросу ничего не найдено.</p>
        </div>
      </section>
      <section class="about slim-block">
        <img src="<%= require('./images/avatar.jpg') %>" alt="Фото автора" class="about__image">
        <div class="about__info">
          <h2 class="about__title">Об авторе</h2>
          <p class="about__subtitle">Это блок с описанием автора проекта. Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
          <p class="about__subtitle">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и чем можете помочь потенциальным заказчикам.</p>
        </div>
      </section>
    </main>
    <footer class="footer slim-block">
      <section class="footer__links">
        <div class="footer__page-links">
          <a href="./index.html" class="footer__page-link">Главная</a>
          <a href="https://praktikum.yandex.ru/" target="_blank" class="footer__page-link">Яндекс.Практикум</a>
        </div>
        <div class="footer__social-links">
          <a href="https://github.com/artvezhl" target="_blank" class="footer__social-link">
            <img src="<%= require('./images/github.svg') %>" alt="Иконка Github" class="footer__github-link">
          </a>
          <a href="https://www.facebook.com/artemiy.vezhlivtsev" target="_blank" class="footer__social-link">
            <img src="<%= require('./images/facebook.svg') %>" alt="Иконка Facebook" class="footer__facebook-link">
          </a>
        </div>
      </section>
      <p class="footer__copyright">&copy; 2020 Supersite, Powered by News API</p>
    </footer>

    <div class="popup" id="auth-popup">
      <div class="popup__background">
        <h2 class="popup__title">Вход</h2>
        <form novalidate class="popup__inputs inputs" name="auth">
          <div class="inputs__container">
            <p class="inputs__name">Email</p>
            <input id="email" type="email" name="email" required
                   class="inputs__item" placeholder="Введите почту"
            >
            <span id="error-email" class="error-message error-message__hidden"></span>
          </div>
          <div class="inputs__container">
            <p class="inputs__name">Пароль</p>
            <input id="password" type="password" name="password" required minlength="8" class="inputs__item" placeholder="Введите пароль">
            <span id="error-pass" class="error-message error-message__hidden"></span>
          </div>
          <span class="error-message error-message__error error-message__auth-error error-message__hidden"></span>
          <button type="submit" class="popup__button button">Войти</button>
        </form>
        <p class="popup__subtitle">или <span class="popup__link popup__link_place_auth-popup">Зарегистрироваться</span></p>
        <img src="<%= require('./images/close.svg') %>" alt="Кнопка закрытия" class="popup__close">
      </div>
    </div>
    <div class="popup" id="reg-popup">
      <div class="popup__background">
        <h2 class="popup__title">Регистрация</h2>
        <form novalidate class="popup__inputs inputs" name="reg">
          <div class="inputs__container">
            <p class="inputs__name">Email</p>
            <input id="reg-email" type="email" name="email" required
                   class="inputs__item" placeholder="Введите почту"
            >
            <span id="reg-error-email" class="error-message error-message__hidden"></span>
          </div>
          <div class="inputs__container">
            <p class="inputs__name">Пароль</p>
            <input id="reg-password" type="password" name="password" minlength="8" required class="inputs__item" placeholder="Введите пароль">
            <span id="reg-error-pass" class="error-message error-message__hidden"></span>
          </div>
          <div class="inputs__container">
            <p class="inputs__name">Имя</p>
            <input id="name" type="text" name="name" required class="inputs__item" placeholder="Введите своё имя">
            <span id="reg-name" class="error-message error-message__hidden"></span>
          </div>
          <span class="error-message error-message__error error-message__reg-error error-message__hidden"></span>
          <button type="submit" class="popup__button button">Зарегистрироваться</button>
        </form>
        <p class="popup__subtitle">или <span class="popup__link popup__link_place_reg-popup">Войти</span></p>
        <img src="<%= require('./images/close.svg') %>" alt="Кнопка закрытия" class="popup__close">
      </div>
    </div>
    <div class="popup" id="success-popup">
      <div class="popup__background">
        <h2 class="popup__title">Пользователь успешно зарегистрирован!</h2>
        <p class="popup__subtitle popup__subtitle_place_success-popup">
          <span class="popup__link popup__link_place_success-popup">Войти</span>
        </p>
        <img src="<%= require('./images/close.svg') %>" alt="Кнопка закрытия" class="popup__close">
      </div>
    </div>
<!--    <section class="popup-mobile">-->
<!--      <div class="popup-mobile__background slim-block">-->
<!--        <header class="header header_type_popup-closed">-->
<!--          <a href="index.html" class="header__logo">NewsExplorer</a>-->
<!--          <button class="popup-mobile__menu header__mobile-menu_type_opened"></button>-->
<!--        </header>-->
<!--        <div class="popup-mobile__links">-->
<!--          <a href="index.html" class="popup-mobile__link">Главная</a>-->
<!--          <a href="articles.html" class="popup-mobile__link">Сохранённые статьи</a>-->
<!--        </div>-->
<!--        <button class="popup-mobile__button button">Авторизоваться</button>-->
<!--      </div>-->
<!--    </section>-->
  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>
