@import url('./_is-opened/popup-auth_is-opened.css');
@import url('./__background/popup-auth__background.css');
@import url('./__button/_active/popup-auth__button_active.css');

.popup-auth {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, .5);
  overflow-y: hidden;
  margin-top: 56px;
}

@media screen and (min-width: 768px) {
  .popup-auth {
    margin-top: 0;
  }
}
