.article__date {
  color: #B6BCBF;
  font-family: var(--source-sans-pro);
  font-size: 1.125rem;
  line-height: 1.3em;
  margin: .5rem 0;
  padding: 0 1rem;
}

@media screen and (min-width: 1024px) {
  .article__date {
    padding: 0 1.5rem;
  }
}
