@import url('./__background/popup__background.css');
@import url('./__mobile-menu/popup__mobile-menu.css');

.popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 50;
  overflow-y: hidden;
}
